body {
  background-color: #E9C46A;
  color: #264653;
  font-family: klee one, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  height: 35px;
  background-color: #F4A261;
  font-family: rubik bubbles, Verdana, Geneva, Tahoma, sans-serif;
}
.navbar img {
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
  margin-right: -1.5rem;
  margin-left: -3.5rem;
}
.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #E9C46A;
  text-align: center;
}
.jadwal {
  text-align: center;
}
.iklan {
  text-align: center;
  padding-bottom: 2rem;
}

.jumbotron h1 {
  font-weight: 500;
}

@media(max-width:756px) {
  .jumbotron {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .navbar img {
    margin-left: -1rem;
  }

}

@media(max-width:450px) {
  .navbar {
    height: 3rem;
  }
  
  .ndai2 img {
    width: 100px;
    height: 100px;
  }
  
  .row {
    position: relative;
    bottom: 1rem;
    height: 1150px;
  }
  
}
footer {
  display: flex;
  padding-top: 3rem;
}
.bagi {
  position: relative;
  text-align: end;
  bottom: 2rem;
}
footer p {
  margin-bottom: .25rem;
  border-top: 10px;
}

.carousel {
  top: 2.5rem;
  left: 5%;
  width: 90%;
}
.carousel-item img {
  border-radius: 15px;
}


.col-md-4 img {
  height: 80px;
  width: 80px;
}
.ndai {
  display: flex;
  margin: auto;
  text-align: center;
  width: 100%;
}
.ndai2 h3 {
  padding-top: 2rem;
}
.ndai3 img {
  width: 33%;
  height: 40%;
}
.row {
  background-color: #E9C46A;
}
.ndai3 {
  padding-top: 3rem;
  background-color: #2A9D8F;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  width: 100%;
}
